source/html/contacts.pug
extends base.pug
block content
	- BreadcrumbTitle = "Контакты"
	include components/breadcrumb-area.pug

	<section class="contact-content contacts-area">
		<div class="container"> 
			div(class="row pb-5")
				div(class="col-12")
					iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.3888000569227!2d61.60640609508362!3d55.11808636042557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5f3e6bb69b617%3A0x669903888788a139!2z0YPQuy4g0JrQvtC20LXQstC90LjQutC-0LLQsCwgMjAsINCa0L7Qv9C10LnRgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NjYwNA!5e0!3m2!1sru!2sru!4v1597729175130!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
			<div class="row">
				<div class="col-12 col-sm-12">
					<div class="row">
						<div class="col-12 col-lg-6">
							<h2 class="title mb-1">Информация</h2>
							p(class="mb-5")
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<div class="row">
								<div class="col-sm-6">
									<div class="contact-info">
										<h3>Адрес</h3>
										<ul class="contact-list">
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/phone (1) 1.svg" alt="img")
												span
													| г. Копейск, ул. Кожевникова 20/8
											</li>
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/mail.svg" alt="img")
												<a href="tel:+79191235631">+7 919 123-56-31</a>
											</li>
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/pin 1.svg" alt="img")
												<a href="mailto:info@rosma-ural.ru">info@rosma-ural.ru</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="contact-info">
										<h3>Часы работы</h3>
										<ul class="contact-list">
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/time.svg" alt="img")
												span
													| Пн-пт<br>8:00 - 18:00
											</li>
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/time.svg" alt="img")
												span
													| Сб-вс<br>10:00 - 16:00
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div> 
						<div class="col-12 col-lg-6">
							<form class="write-review" method="" action="">
								<h2 class="pb-4">Напишите нам</h2>
								<div class="write-review-box">
									<div class="from-group row mb-3">
										<div class="col-12">
											<label>Ваше имя</label>
										</div>
										<div class="input-group col-12">
											<input type="text" class="form-control" id="inlineFormInputGroup00" placeholder="Имя">
										</div>
									</div>
									<div class="from-group row mb-3">
										<div class="col-12">
											<label>Ваша почта</label>
										</div>
										<div class="input-group col-12">
											<input type="text" class="form-control" id="inlineFormInputGroup1" placeholder="Email">
										</div>
									</div>
									<div class="from-group row mb-3">
										<div class="col-12">
											<label>Ваша почта</label>
										</div>
										<div class="input-group col-12">
											<textarea class="form-control" id="inlineFormInputGroup3" placeholder="Сообщение"></textarea>
										</div>
										<div class="from-group pt-4 col-12">
											<button type="submit" class="btn btn-secondary swipe-to-top">Отправить</button>
										</div>
									</div>
								</div>
							</form>
						</div>     
					</div>
				</div>
			</div>
		</div>      
	</section>

release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head><meta charset="UTF-8">
<title>РОСМА-Урал</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="images/fav.png">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
  </head>
  <body><div class="se-pre-con">
<div class="pre-loader">
<img class="lazyload" data-src="images/Preloader_2.gif" alt="img">
</div>
</div><header id="headerOne" class="header-area header-one header-desktop">
<div class="container">
<div class="row align-items-center">
<div class="col-12 col-lg-2">
<div class="logo">
<a href="#">
<img class="img-fluid lazyload" data-src="images/logo.png" alt="logo">
</a>
</div>
</div>
<div class="col-12 col-lg-6">
<nav class="navbar navbar-expand-lg">
<div class="navbar-collapse" >
<ul class="navbar-nav">
<li class="nav-item active">
<a class="nav-link" href="#">Главная</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Каталог</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Прайс</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Акции</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Статьи</a>
</li>
</ul>
</div>
</nav>
</div>
<div class="col-12 col-lg-4 d-flex justify-content-end">
<ul class="pro-header-right-options">
<li>
<div class="d-flex flex-column align-items-end">
<a class="phone-link" href="tel:+79191235631">+7 919 123-56-31 </a>
<span type="button" class="btn btn_call" data-toggle="modal" data-target="#modalCall">заказать звонок</span>
</div>
</li>
<li class="dropdown " id="cart-desktop">
<button class="btn-cart dropdown-toggle" type="button" id="dropdownCartButton16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.79941 11.6369H5.80023C5.80092 11.6369 5.80161 11.6367 5.80229 11.6367H15.3633C15.5987 11.6367 15.8056 11.4806 15.8703 11.2543L17.9797 3.87145C18.0251 3.71228 17.9933 3.54117 17.8937 3.40906C17.794 3.27695 17.6381 3.19922 17.4727 3.19922H4.58322L4.20625 1.5028C4.15256 1.26151 3.9386 1.08985 3.69141 1.08985H0.527344C0.236069 1.08985 0 1.32592 0 1.61719C0 1.90847 0.236069 2.14453 0.527344 2.14453H3.26843C3.33517 2.44515 5.07239 10.2627 5.17236 10.7125C4.61192 10.9561 4.21875 11.5149 4.21875 12.1641C4.21875 13.0364 4.92847 13.7461 5.80078 13.7461H15.3633C15.6546 13.7461 15.8906 13.51 15.8906 13.2188C15.8906 12.9275 15.6546 12.6914 15.3633 12.6914H5.80078C5.51006 12.6914 5.27344 12.4548 5.27344 12.1641C5.27344 11.8738 5.50923 11.6375 5.79941 11.6369ZM16.7735 4.25391L14.9654 10.582H6.22375L4.8175 4.25391H16.7735Z"/>
<path d="M5.27344 15.3281C5.27344 16.2004 5.98315 16.9102 6.85547 16.9102C7.72778 16.9102 8.4375 16.2004 8.4375 15.3281C8.4375 14.4558 7.72778 13.7461 6.85547 13.7461C5.98315 13.7461 5.27344 14.4558 5.27344 15.3281ZM6.85547 14.8008C7.14619 14.8008 7.38281 15.0374 7.38281 15.3281C7.38281 15.6189 7.14619 15.8555 6.85547 15.8555C6.56474 15.8555 6.32813 15.6189 6.32813 15.3281C6.32813 15.0374 6.56474 14.8008 6.85547 14.8008Z"/>
<path d="M12.7266 15.3281C12.7266 16.2004 13.4363 16.9102 14.3086 16.9102C15.1809 16.9102 15.8906 16.2004 15.8906 15.3281C15.8906 14.4558 15.1809 13.7461 14.3086 13.7461C13.4363 13.7461 12.7266 14.4558 12.7266 15.3281ZM14.3086 14.8008C14.5993 14.8008 14.8359 15.0374 14.8359 15.3281C14.8359 15.6189 14.5993 15.8555 14.3086 15.8555C14.0179 15.8555 13.7812 15.6189 13.7812 15.3281C13.7812 15.0374 14.0179 14.8008 14.3086 14.8008Z"/>
</svg>
<span class="badge badge-secondary">2</span>
</button>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCartButton16">
<ul class="shopping-cart-items">
<li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/item.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>1 x 135 ₽</span>
<a href="#" class="item-detail__delete">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip10)">
<path d="M21.7442 5.36444L21.2143 3.776C21.0125 3.17102 20.4483 2.76453 19.8108 2.76453H15.3571V1.31451C15.3571 0.589783 14.7678 0 14.0433 0H9.96481C9.24044 0 8.65103 0.589783 8.65103 1.31451V2.76453H4.19754C3.55978 2.76453 2.99563 3.17102 2.79385 3.776L2.26394 5.36444C2.14328 5.72607 2.20443 6.12653 2.42727 6.43579C2.65011 6.74506 3.01065 6.92981 3.39187 6.92981H3.94577L5.16488 22.0051C5.25552 23.1237 6.20474 24 7.32626 24H16.9292C18.0506 24 19 23.1237 19.0904 22.0049L20.3095 6.92981H20.6162C20.9975 6.92981 21.358 6.74506 21.5808 6.43597C21.8037 6.12671 21.8648 5.72607 21.7442 5.36444ZM10.0573 1.40625H13.9508V2.76453H10.0573V1.40625ZM17.6887 21.8915C17.6569 22.2854 17.3233 22.5938 16.9292 22.5938H7.32626C6.93222 22.5938 6.5986 22.2854 6.56674 21.8915L5.35659 6.92981H18.8987L17.6887 21.8915ZM3.69345 5.52356L4.12796 4.22095C4.13784 4.19092 4.16586 4.17078 4.19754 4.17078H19.8108C19.8424 4.17078 19.8703 4.19092 19.8803 4.22095L20.3148 5.52356H3.69345Z" fill="black"/>
<path d="M15.4459 21.8417C15.4583 21.8424 15.4706 21.8426 15.483 21.8426C15.8545 21.8426 16.1651 21.5515 16.1845 21.1761L16.8448 8.5012C16.8649 8.11338 16.5668 7.78251 16.1792 7.76237C15.7905 7.74168 15.4607 8.04014 15.4404 8.42795L14.7803 21.1029C14.7601 21.4907 15.058 21.8216 15.4459 21.8417Z" fill="black"/>
<path d="M7.85457 21.1778C7.87508 21.5526 8.18526 21.8426 8.55604 21.8426C8.56886 21.8426 8.58205 21.8423 8.59505 21.8415C8.98268 21.8205 9.27986 21.489 9.2588 21.1012L8.56721 8.4263C8.54616 8.03849 8.21474 7.74131 7.82692 7.76255C7.43929 7.7836 7.14211 8.11502 7.16316 8.50284L7.85457 21.1778Z" fill="black"/>
<path d="M12.0117 21.8427C12.4001 21.8427 12.7148 21.5279 12.7148 21.1395V8.4646C12.7148 8.07623 12.4001 7.76147 12.0117 7.76147C11.6234 7.76147 11.3086 8.07623 11.3086 8.4646V21.1395C11.3086 21.5279 11.6234 21.8427 12.0117 21.8427Z" fill="black"/>
</g>
<defs>
<clipPath id="clip10">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
</a>
</div>
</div>
</div>
</li>
<li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/item.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>1 x 135 ₽</span>
<a href="#" class="item-detail__delete">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip10)">
<path d="M21.7442 5.36444L21.2143 3.776C21.0125 3.17102 20.4483 2.76453 19.8108 2.76453H15.3571V1.31451C15.3571 0.589783 14.7678 0 14.0433 0H9.96481C9.24044 0 8.65103 0.589783 8.65103 1.31451V2.76453H4.19754C3.55978 2.76453 2.99563 3.17102 2.79385 3.776L2.26394 5.36444C2.14328 5.72607 2.20443 6.12653 2.42727 6.43579C2.65011 6.74506 3.01065 6.92981 3.39187 6.92981H3.94577L5.16488 22.0051C5.25552 23.1237 6.20474 24 7.32626 24H16.9292C18.0506 24 19 23.1237 19.0904 22.0049L20.3095 6.92981H20.6162C20.9975 6.92981 21.358 6.74506 21.5808 6.43597C21.8037 6.12671 21.8648 5.72607 21.7442 5.36444ZM10.0573 1.40625H13.9508V2.76453H10.0573V1.40625ZM17.6887 21.8915C17.6569 22.2854 17.3233 22.5938 16.9292 22.5938H7.32626C6.93222 22.5938 6.5986 22.2854 6.56674 21.8915L5.35659 6.92981H18.8987L17.6887 21.8915ZM3.69345 5.52356L4.12796 4.22095C4.13784 4.19092 4.16586 4.17078 4.19754 4.17078H19.8108C19.8424 4.17078 19.8703 4.19092 19.8803 4.22095L20.3148 5.52356H3.69345Z" fill="black"/>
<path d="M15.4459 21.8417C15.4583 21.8424 15.4706 21.8426 15.483 21.8426C15.8545 21.8426 16.1651 21.5515 16.1845 21.1761L16.8448 8.5012C16.8649 8.11338 16.5668 7.78251 16.1792 7.76237C15.7905 7.74168 15.4607 8.04014 15.4404 8.42795L14.7803 21.1029C14.7601 21.4907 15.058 21.8216 15.4459 21.8417Z" fill="black"/>
<path d="M7.85457 21.1778C7.87508 21.5526 8.18526 21.8426 8.55604 21.8426C8.56886 21.8426 8.58205 21.8423 8.59505 21.8415C8.98268 21.8205 9.27986 21.489 9.2588 21.1012L8.56721 8.4263C8.54616 8.03849 8.21474 7.74131 7.82692 7.76255C7.43929 7.7836 7.14211 8.11502 7.16316 8.50284L7.85457 21.1778Z" fill="black"/>
<path d="M12.0117 21.8427C12.4001 21.8427 12.7148 21.5279 12.7148 21.1395V8.4646C12.7148 8.07623 12.4001 7.76147 12.0117 7.76147C11.6234 7.76147 11.3086 8.07623 11.3086 8.4646V21.1395C11.3086 21.5279 11.6234 21.8427 12.0117 21.8427Z" fill="black"/>
</g>
<defs>
<clipPath id="clip10">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
</a>
</div>
</div>
</div>
</li>
<li>
<span class="item-summary">Цена&nbsp;:&nbsp;<span>270 ₽</span></span>
</li>
<li>
<a class="btn btn_cart" href="#">Корзина</a>
<a class="btn btn_checkout" href="#">Оформить</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</header>
<header id="stickyHeader" class="header-area header-sticky header-one bg-sticky-bar" >
<div class="container">
<div class="row align-items-center">
<div class="col-12 col-lg-2">
<div class="logo">
<a href="#">
<img class="img-fluid lazyload" data-src="images/logo.png" alt="logo">
</a>
</div>
</div>
<div class="col-12 col-lg-6">
<nav class="navbar navbar-expand-lg">
<div class="navbar-collapse" >
<ul class="navbar-nav">
<li class="nav-item active">
<a class="nav-link" href="#">Главная</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Каталог</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Прайс</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Акции</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Статьи</a>
</li>
</ul>
</div>
</nav>
</div>
<div class="col-12 col-lg-4 d-flex justify-content-end">
<ul class="pro-header-right-options">
<li>
<div class="d-flex flex-column align-items-end">
<a class="phone-link" href="tel:+79191235631">+7 919 123-56-31 </a>
<span type="button" class="btn btn_call" data-toggle="modal" data-target="#modalCall">заказать звонок</span>
</div>
</li>
<li class="dropdown" id="cart-scroll"></li>
</ul>
</div>
</div>
</div>
</header>
<header id="headerMobile" class="header-area header-mobile">
<div class="header-maxi bg-header-bar ">
<div class="container">
<div class="row align-items-center">
<div class="col-6 pr-0 flex-col">
<div class="navigation-mobile-container">
<a href="javascript:void(0)" class="navigation-mobile-toggler">
<span></span>
</a>
<nav id="navigation-mobile">
<div class="logout-main">
<div class="welcome">
<div class="logo">
<a href="#">
<img class="img-fluid lazyload" data-src="images/logo.png" alt="logo">
</a>
</div>
</div>
</div>
<ul>
<li class="nav-item active">
<a class="nav-link" href="#">Главная</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Каталог</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Прайс</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Акции</a>
</li>
<li class="nav-item ">
<a class="nav-link" href="#">Статьи</a>
</li>
</ul>
</nav>
</div>
<a href="#" class="logo">
<img class="img-fluid lazyload" data-src="images/logo.png" alt="logo">
</a>
</div>
<div class="col-6 pl-0">
<ul class="pro-header-right-options">
<li class="dropdown" id="cart-mobile"></li>
</ul>
</div>
</div>
</div>
</div>
</header>
    <div class="breadcrumb-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class=" h2">Контакты
            </h1><nav aria-label="breadcrumb" >
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">главная</a></li>
<li class="breadcrumb-item active" aria-current="page">контакты</li>
</ol>
</nav>
          </div>
        </div>
      </div>
    </div><section class="contact-content contacts-area">
<div class="container"> 
    <div class="row pb-5">
      <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.3888000569227!2d61.60640609508362!3d55.11808636042557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5f3e6bb69b617%3A0x669903888788a139!2z0YPQuy4g0JrQvtC20LXQstC90LjQutC-0LLQsCwgMjAsINCa0L7Qv9C10LnRgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NjYwNA!5e0!3m2!1sru!2sru!4v1597729175130!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div><div class="row">
<div class="col-12 col-sm-12">
<div class="row">
<div class="col-12 col-lg-6">
<h2 class="title mb-1">Информация</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><div class="row">
<div class="col-sm-6">
<div class="contact-info">
<h3>Адрес</h3>
<ul class="contact-list">
<li class="d-flex align-items-center"><span class="contact-icon-box mr-3"><img class="lazyload" data-src="images/phone (1) 1.svg" alt="img"></span><span>г. Копейск, ул. Кожевникова 20/8</span></li>
<li class="d-flex align-items-center"><span class="contact-icon-box mr-3"><img class="lazyload" data-src="images/mail.svg" alt="img"></span><a href="tel:+79191235631">+7 919 123-56-31</a>
</li>
<li class="d-flex align-items-center"><span class="contact-icon-box mr-3"><img class="lazyload" data-src="images/pin 1.svg" alt="img"></span><a href="mailto:info@rosma-ural.ru">info@rosma-ural.ru</a>
</li>
</ul>
</div>
</div>
<div class="col-sm-6">
<div class="contact-info">
<h3>Часы работы</h3>
<ul class="contact-list">
<li class="d-flex align-items-center"><span class="contact-icon-box mr-3"><img class="lazyload" data-src="images/time.svg" alt="img"></span><span>Пн-пт<br>8:00 - 18:00</span></li>
<li class="d-flex align-items-center"><span class="contact-icon-box mr-3"><img class="lazyload" data-src="images/time.svg" alt="img"></span><span>Сб-вс<br>10:00 - 16:00</span></li>
</ul>
</div>
</div>
</div>
</div> 
<div class="col-12 col-lg-6">
<form class="write-review" method="" action="">
<h2 class="pb-4">Напишите нам</h2>
<div class="write-review-box">
<div class="from-group row mb-3">
<div class="col-12">
<label>Ваше имя</label>
</div>
<div class="input-group col-12">
<input type="text" class="form-control" id="inlineFormInputGroup00" placeholder="Имя">
</div>
</div>
<div class="from-group row mb-3">
<div class="col-12">
<label>Ваша почта</label>
</div>
<div class="input-group col-12">
<input type="text" class="form-control" id="inlineFormInputGroup1" placeholder="Email">
</div>
</div>
<div class="from-group row mb-3">
<div class="col-12">
<label>Ваша почта</label>
</div>
<div class="input-group col-12">
<textarea class="form-control" id="inlineFormInputGroup3" placeholder="Сообщение"></textarea>
</div>
<div class="from-group pt-4 col-12">
<button type="submit" class="btn btn-secondary swipe-to-top">Отправить</button>
</div>
</div>
</div>
</form>
</div>     
</div>
</div>
</div>
</div>      
</section>
    <footer class="footer">
      <div class="container">
        <div class="row py-5">
          <div class="col-12 col-lg-3 pb-3 pb-lg-0"><div class="logo mb-3">
<a href="#">
<img class="img-fluid lazyload" data-src="images/logo.png" alt="logo">
</a>
</div>
            <p>Обработка и изготовление изделий из дерева</p>
          </div>
          <div class="col-12 col-lg-2 pb-3 pb-lg-0">
            <ul class="footer__nav">
              <li><a href="#">Каталог</a></li>
              <li><a href="#">О компании</a></li>
              <li><a href="#">Оплата и доставка</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-4 pb-3 pb-lg-0"><span class="footer__title">Подписывайтесь:</span>
            <form class="subscribe pt-3" method="post" action="index.php">
              <input type="text" placeholder="Ваш e-mail">
              <button type="submit">Подписаться</button>
            </form>
          </div>
          <div class="col-12 col-lg-3">
            <p>г. Копейск, ул. Кожевникова 20/8</p><a class="footer__link" href="mailto:info@rosma-ural.ru">info@rosma-ural.ru</a><a class="footer__link" href="tel:+79191235631">+7 919 123-56-31</a>
          </div>
        </div>
        <div class="footer__line"></div>
        <div class="row py-4">
          <div class="col-12"><a class="copyright d-block text-center text-lg-left" href="#">Политика конфиденциальности</a></div>
        </div>
      </div>
    </footer><div class="mobile-overlay"></div>
<a href="#" class="btn-secondary " id="back-to-top" title="Back to top">&uarr;</a>
<div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalCallTitle">Бесплатная консультация</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <form action="" method=""><div class="from-group row mb-3">
<div class="col-12">
<label>Ваша Имя</label>
</div>
<div class="input-group col-12">
<input type="text" class="form-control" id="inlineFormInputGroup00" placeholder="Имя">
</div>
</div>
<div class="from-group row mb-3">
<div class="col-12">
<label>Номер телефона</label>
</div>
<div class="input-group col-12">
<input type="tel" class="form-control" id="inlineFormInputGroup1" placeholder="Телефон">
</div>
</div>
      <div class="pt-4">
        <button class="btn" type="submit">
          Отправить<form class="write-review" method="" action=""></button>
      </div>
    </form></div>
</div>
</div>
</div>
    <script src="js/main.min.js"></script>
  </body>
</html>
